.post-wrapper {
  margin-bottom: 40px;
  padding: 10px;
}

.post-body p {
  text-align: 'justify';
  text-justify: 'inter-word';
}

.post-body span {
  background-color: #ADD8E6;
  padding: 8px;
}

.post-signature {
  text-align: right;
}

.post-signature p {
  font-size: 1.1em;
  margin-bottom: 0;
}